*, html {
    margin:0;
    padding:0;  
}

body {
    background-image: url("above-aerial-aerial-view-931018.jpg");
    background-size: 100%;
    font-family: Lato, Raleway, Helvetica, sans-serif;
}

header {
    font-size: 50px;
    text-align: center;
    color: #04103a;
    background-color: lightgrey; 
    background-repeat: no-repeat;
    padding: 30px;   
}

header img {
    height: 400px;
    width: 400px;
    border-radius: 80%;
}

#about {
    padding: 40px;
}

#about h2 {
    font-size: 80px;
    color: #ffffff
}

#about p {
    font-size: 30px;
    color: white;
    
}

#gallery {
    padding: 40px;
    background-color: aliceblue;
}

#gallery h2 {
    font-size: 80px;
    color: black;
}

#gallery p {
    font-size: 30px;
    color: black;
    
}

.image {
    height: 400px;
    width: 400px;
}

#video {
    padding: 40px;
}

#video h2 {
    font-size: 80px;
    color: whitesmoke;
}





















